.successpay{width: 100%;height: 100%;background-color:rgba(3,42,21,.2);position: relative;}
.successpay>div{width: 400px;height: 300px;margin: 0 auto;background-color: #54BB62;border-radius:30px;position: absolute;top: 30%;left: 50%;margin-left: -200px;}
.successpay>div>h1{font-size: 60px;font-weight: bold;text-align: center;margin-top:60px;color:#fff;}
.successpay>div>button{width: 120px;height: 60px;background-color: #fff;margin-top: 60px;font-size: 30px;border-radius:20px;}
.successpay>div>button:nth-child(2){margin-left: 70px;}
.successpay>div>button:nth-child(3){margin-left: 20px;}