.my{height: 80px;border-bottom:0.5px solid #ccc;font-size: 24px;line-height: 80px;position: relative;padding-left: 10px;color:#555555;text-decoration: none;}
.my i{font-style:normal;right:10px;position: absolute;color:#ccc;}
a{text-decoration: none;}
.menu li{float: left;width: 25%;list-style: none;text-align: center;color:#555555;height: 120px;padding-top: 10px;}
.menu li p{font-size: 22px;color:#555555;margin-top: 5px;}
.menu li i{font-size: 50px;}