<div class="goods">
      <div class='head'>
            <label for="in1">id</label><input type="text" id='in1'/>
            <label for="in2">name</label><input type="text" id='in2'/>
            <label for="in3">price</label><input type="text" id='in3'/>
            <label for="in4">type</label><input type="text" id='in4'/>
            <label for="in5">gender</label><input type="text" id='in5'/>
            <label for="in6">sales</label><input type="text" id='in6'/>
            <label for="in7">color</label><input type="text" id='in7'/>
            <label for="in8">size</label><input type="text" id='in8'/>
            <label for="in9">newest</label><input type="text" id='in9'/>
            <label for="in10">images</label><input type="text" id='in10'/>
            <label for="in11">cut</label><input type="text" id='in11'/>
            <label for="in12">smalltype</label><input type="text" id='in12'/>
            <label for="in13">hot</label><input type="text" id='in13'/>
            <button class='btn1'>添加商品</button>
            <div><input type="text" class='sous' placeholder='请输入商品名称'/><button class='btn2'>搜索</button></div>
            
      </div>
      <div class='foot'>
            <table class='table2 table'>
                  <thead>
                        <tr>
                              <th>id</th>
                              <th>name</th>
                              <th>type</th>
                              <th>smalltype</th>
                              <th>size</th>
                              <th>price</th>
                              <th>chuzuo</th>
                        </tr>
                  </thead>
                  <tbody>
                        
                  </tbody>
            </table>
      </div>
      <div class="bianji">
            <div class='bj1'><span>编辑数据</span><span class='iconfont icon-guanbi guanbi'></span></div>
            <div class='bj0'><span>id</span><input type="text" /></div>
            <div class='bj2'><span>name</span><input type="text" /></div>
            <div class='bj3'><span>type</span><input type="text" /></div>
            <div class='bj4'><span>smalltype</span><input type="text" /></div>
            <div class='bj5'><span>size</span><input type="text" /></div>
            <div class='bj6'><span>price</span><input type="text" /></div>
            <div class='bj7'><button>确认</button></div>
      </div>
      <div class="zzc"></div>
      <div class='fy'><span>全部</span><span>搜索</span><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span></div>
</div>
                  
                  
