
.updatafather{
    height:100%;
    display:flex;
    flex-flow: column;
}
.updata-hd{
    display: flex;
    height:1.28rem;

}
.updata-hd span{
    display:block;
    font-size: 0.5rem;
    width:90%;
    padding-left:2.666667rem ;
    height: 1.28rem;
    line-height: 1.28rem;


}
.updata-hd span:first-child{
    width: 10%;
    padding-left:0.533333rem;
}
.updata-main{
    flex:1;
}
.main-div1 {
    padding:0.266667rem;
}
.main-div1 ul{
    display:block;
    border:0.026667rem solid #ccc;
    padding:0.133333rem;
    height:4.0rem;
    border-radius: 0.133333rem;
}
.main-div1 ul li{
    display:flex;
    height:1.333333rem;
    font-size: 0.4rem;
    
}
.main-div1 ul li span{
    display:block;
    width:50%;
    height:1.333333rem;
    line-height:1.333333rem ;
}
.main-div1 ul li span:nth-child(2){
    text-align:right;
}
.main-div1 ul li span .fa{
    margin-left:0.4rem ;
}
.main-div1 ul li span .head-img{
    display:inline-block;
    width:1.066667rem;
    height:1.066667rem;
    background: url("../../img/my.jpg") no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.main-div2 ul{
    display:block;
    height:1.333333rem;

}
.updata-foot{
    box-sizing: border-box;
    height:1.866667rem;
    padding:0.266667rem;
}
.updata-foot p{
    display:block;
    height:1.333333rem;
    font-size: 0.533333rem;
    text-align: center;
    background:#333;
    color:#fff;
    line-height: 1.333333rem;
}
