.ffmenu>a>li{float: left;width: 33.3333%;list-style: none;text-align: center;font-size: 45px;color:#A5A5A5;margin-top: 0px;height: 100px;padding-top: 5px;}
.ffmenu>a>li p{margin-top: -5px;color:#A5A5A5;font-size: 26px;}
.ffmenu>a{text-decoration: none;}